* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

/* ----------- nav bar -------------- */

nav .lists ul a {
  color: black;
  text-decoration: none;
  padding: 0 22px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Archivo", sans-serif;
}

nav .lists ul li .active,
nav .lists ul a:hover {
  color: #8d38ed;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  background-color: #ffffff;
  height: 75px;
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  z-index: 6;
}

nav figure img {
  position: relative;
  top: 7px;
  left: 10px;
  height: auto;
  max-width: 130px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

nav .lists ul {
  display: flex;
  margin-top: 30px;
}

nav button {
  position: relative;
  top: 12px;
  color: #ffffff;
  height: 50px;
  background-color: #8d38ed;
  font-size: 16px;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 13px 28px;
  cursor: pointer;
}

nav button:hover {
  color: #ffffff;
  background-color: #7e21e7;
}

/* ---------- main section ---------- */

.main-container {
  height: 400px;
  display: flex;
  justify-content: center;
}

.main-1st-container {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-h1 {
  font-family: "Archivo", sans-serif;
  font-size: 52px;
  color: #0d1d20;
}

.main-p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #586274;
  text-align: center;
  margin-top: 30px;
}

.main-second {
  background-color: #ffffff;
  height: 900px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.second-first {
  position: relative;
  left: 7%;
  top: 15%;
  width: 510px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: inline-block;
}

.second-h1 {
  margin-bottom: 25px;
  font-family: "Archivo", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.second-p {
  margin-bottom: 35px;
  line-height: 25px;
  color: #587274;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

.detail {
  display: flex;
  margin-bottom: 20px;
}

.extra {
  margin-top: 25px;
  display: flex;
  width: 450px;
  height: 52px;
  border: 1px solid #d5d5d7;
  border-radius: 5px;
  padding: 20px;
}

.form {
  position: relative;
  top: 13%;
  right: 6%;
  border: 1px solid #d5d5d7;
  border-radius: 5px;
  background-color: #fcfcfc;
  width: 645px;
  height: 580px;
}

.form-first {
  padding: 45px;
  width: 550px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid #dadada;
  border-radius: 5px;
  height: 25px;
  width: 234px;
  padding: 12px;
}

.subject {
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid #dadada;
  border-radius: 5px;
  height: 25px;
  width: 96%;
  padding: 12px;
}

/* ---------- footer section ---------- */

.first-footer {
  border-bottom: 0.5px solid rgb(115, 115, 115);
  background-color: rgb(14 24 24);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-container-footer {
  border: 0;
  border-radius: 5px;
  background-color: #8d38ed;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.subscribe-section {
  padding: 60px;
  padding-right: 0;
  width: 500px;
  display: inline-block;
}

.subscribe-section h1{
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 300;
  font-family: 'Archivo', sans-serif;
  position: relative;
  bottom: 8px;
}


footer button {
  margin-left: 20px;
  position: relative;
  color: #000000;
  height: 57px;
  background-color: #ffffff;
  font-size: 16px;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 13px 28px;
  cursor: pointer;
}

footer button:hover {
  color: #000000;
  background-color: #eee7e7;
}

footer .fa-brands {
  color: #8d38ed;
  position: relative;
  top: 15px;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

footer ol li a {
  text-decoration: none;
}

footer input::placeholder {
  color: #fffffff1;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;

  padding: 14px 16px;
}

footer h3 {
  color: #ffffff;
  margin-bottom: 30px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
}

footer ol li a {
  color: #ffffffc4;
}

footer .aa {
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

footer .fa-solid {
  font-size: 40px;
  color: #ffffff;
}

@media (max-width: 780px) {
  * {
    padding: 0;
    margin: 0;
  }

  .main-container {
    width: 100%;
    height: 70%;
    margin-bottom: 50px;
  }

  .main-1st-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-h1 {
    font-size: 50px;
  }

  .main-second {
    background-color: #fff;
    width: 100%;
    height: 190vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .second-first {
    position: relative;
    top: 0;
    bottom: 30%;
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: inline-block;
  }

  .second-h1 {
    margin-bottom: 25px;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    font-weight: 600;
  }

  .second-p {
    margin-bottom: 35px;
    line-height: 25px;
    color: #587274;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
  }

  .extra {
    margin-top: 25px;
    display: flex;
    width: 300px;
    height: 52px;
    border: 1px solid #d5d5d7;
    border-radius: 5px;
    padding: 20px;
  }
  .form {
    position: relative;
    left: 42px;
    top: 100px;
    border: 1px solid #d5d5d7;
    border-radius: 5px;
    background-color: #fcfcfc;
    width: 645px;
    height: 580px;
  }
}

.footer-third-part {
  background-color: rgb(14 24 24);
  height: 40px;
  border-bottom: 0.5px solid rgb(115, 115, 115);
}

.footer-third-part p{
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  word-spacing: 2px;
}

.contain{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.5px solid rgb(115, 115, 115);
  background-color: rgb(14 24 24);
  height: 300px;
  padding: 30px 40px;
}

.subscribe-section p{
  color: rgb(255, 254, 254);
  margin-top: 15px;
  font-size: 16px;
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
}

.placeholder_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 60px;
  padding-left: 0;
}

.placeholder_btn input{
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid #ffffff5c;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  padding: 14px 16px;
}




/* ---------- responsive footer section ---------- */


@media only screen and (max-width: 800px){
  footer{
    width: 100%;
  } 

  .contain{
    display: flex;
    height: 900px;
    padding: 30px 40px;
  }

  footer .contain{
    
    flex-direction: column;
  }

  .innercontain{
    width: 100%;
  }

  .innercontain img{
    width: 10%;
  }

  .innercontain p{
    line-height: 30px;
    font-size: 100px;
    margin-top: 20px;
  }
  

  .first-footer {
    
   
    width: 100%;
    margin: auto;
    height: 450px;
  }

  .first-container-footer {
  
  width: 80%;
  padding: 30px;
  margin-top: 5px;
  height: 65%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  footer button {
    margin-top: 20px;
    width: 100%;
    
  }

  .subscribe-section {
    width: 85%;
    padding: 0;
    
  }


  .subscribe-section h1{
    font-size: 30px;
    text-align: center;
    
  }

  .placeholder_btn{
    flex-direction: column;
    padding: 0;
  }

  .placeholder_btn input{
    width: 100%;
    padding: 14px 40px;
  }

  footer input::placeholder {
    font-size: 15px;
    
    width: 100%;
    
  }

  .footer-third-part p{

    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    word-spacing: 2px;
  }

  .subscribe-section p{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;

  
  }
}

@media only screen and (min-width: 800px){
  

}